@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #0D9276;
}


img.top_border {
  position: absolute;
}

.container {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.container .heading {
  font-family: 'Pacifico';
  color: white;
  font-size: 35px;
}

.countdown {
  margin-top: 30px;
  display: flex;
  flex-direction: column;
  margin-bottom: 15px;
}

.day {
  font-family: 'Lato';
  font-size: 35px;
  color: white;
  font-weight: 'bolder';
  text-align: center;
}

.rest {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.time_chip {
  margin: 17px 5px;
  color: white;
  font-family: 'Lato';
  font-weight: lighter;
  font-size: 15px;
  opacity: 0.6;
}

.date_btn {
  padding: 20px;
  border-radius: 10%;
  font-size: 15px;
}